/logs
/mpmissions/empty.deerisle/storage_1
/mpmissions/empty.Bitterroot/storage_1
*.log
*.RPT
*.ADM
/profiles/Bitterroot/DataCache
/profiles/Bitterroot/Users
/dayz-server.exe
*.mdmp
/profiles/Bitterroot/BattlEye/BEServer_x64.dll
**/Logging
/mpmissions/hardcore.namalsk/storage_1
/profiles/Namalsk/CodeLock/Logs
/profiles/Namalsk/BattlEye
/profiles/Namalsk/DataCache
/profiles/Namalsk/RaG_Core/Logs
/profiles/Namalsk/Users